<div id="form-container">
    <form hx-post="/category/add" hx-target="#form-container" hx-swap="innerHTML">
        <div>
            <label for="kode_kategori">Kode</label>
            {{ if and .Errors (index .Errors "Kode") }}
            <span class="error">{{ index .Errors "Kode" }}</span>
            {{ end }}
            <input type="text" id="kode_kategori" name="kode_kategori" value="{{ .FormKode }}">
        </div>
        <div>
            <label for="nama_kategori">Nama</label>
            {{ if and .Errors (index .Errors "Nama") }}
            <span class="error">{{ index .Errors "Nama" }}</span>
            {{ end }}
            <input type="text" id="nama_kategori" name="nama_kategori" value="{{ .FormNama }}">
        </div>
        <div>
            <button type="submit">Tambah</button>
            <a href="/category" class="button secondary">Kembali</a>
        </div>
    </form>
</div>